extends ./layouts/common.pug

block content

  each product in products
    .card.mr-1.mt-5(style='width: 17rem; display: inline-block')
      img.card-img-top(src= product.image, alt='Card image cap')
      .card-body
        h5.card-title 
          span= product.name
        p.card-text 
          span= product.description
      ul.list-group.list-group-flush
        li.list-group-item 
          p= product.price
        li.list-group-item Dapibus ac facilisis in
        li.list-group-item Vestibulum at eros
      .card-body
        a.btn.btn-primary.mr-1(href='#') Card link
        a.btn.btn-primary(href='#') Another link


  nav.mt-5(aria-label='Page navigation example')
    ul.pagination
        li.page-item
            a.page-link(href='#', aria-label='Previous')
                span(aria-hidden='true') &laquo;
                span.sr-only Previous
            each link in links 
                li.page-item
                    a.page-link(href= link)= link.substr(link.length-1,link.length)
        li.page-item
            a.page-link(href='#', aria-label='Next')
                span(aria-hidden='true') &raquo;
                span.sr-only Next      
