*{
	margin: 0;
	padding: 0;
}

#bg{
	background-image: url("../images/me.jpg");
	height: 100vh;
	width: 100%;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	
}
.name{
	color: white;
	margin: auto;
}
.typewrite{
	color:white; 
	text-decoration: none;
	font-size: 30px;
	font-weight: bold;
}
.typewrite:hover{
	color: blue;
	text-decoration: none; 
}
.text-uppercase{
	text-transform: uppercase;
}

